*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

a{
    cursor: pointer;
}
a:hover{
    color:rgba(255, 214, 30, 0.781) !important;
}

.navBar{
    width: 100%;
    position: relative;
    left: 0%;
    img{
        width: 300px;
    }
}

header{
    min-height: 120vh;
    position: relative;
    background: linear-gradient(270deg, #222324, #000000);
    .intro-text{
        font-family: 'Jura', sans-serif;
        font-size: 80px;
        
        color: white;
        .film{
            position: absolute;
            top: 38%;
            left: 33%;

        }
        .prod{
            position: absolute;
            top: 48%;
            left: 39%;


        }
        .service{
            position: absolute;
            margin-right: 50px;
            top: 58%;
            left: 58%;
        }
    }
    h1{
        font-size: 5.5rem;
    }
}

.desyncLogo:hover{
    filter: brightness(70%);
}

section{
    height: 100%;
    width: 100%;
    background: rgb(236, 235, 235);
    position: relative;
}

.bg-dark {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(240, 240, 236);
    background-color: rgba(0, 0, 0, 0)!important;
}



button{
    border-color: transparent;
}
.burger{
    background-color: transparent;
    display: none;
    div{
        width: 25px;
        height: 2px;
        margin:5px;
        background-color: rgba(255, 255, 255, 0.678);
        transition: all 0.3s ease;
    }
}
//Navi riba about,contact jne
.navbar-dark{
    .nav-item{
        position: relative;
        font-family: 'Jura', sans-serif;
        font-size: 1.5em;
        left: 9%;
        padding-left: 21px;
        .nav-link{
            color: rgb(241, 241, 235);
        }
    }
}


//burgeri borderi ära võtmine
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: transparent;
}

//burgeri outline-i ära võtmine pärast klikki
button:focus {
    outline: transparent;
}
@media screen and (max-width:991px){
    .burger{
        display: block;
    }
    .film{
        font-size: 4rem!important;
        left:6%!important;
    }
    .prod{
        font-size: 4rem!important;
        left:8%!important;
    }
    .service{
        left:40%!important;
    }
}
//Burgeri anim
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

.endsection{
    padding-top: 5rem;
    .steps{
        padding:5rem;
    }
}
.end{
    position: absolute;
    left: 50%;
    bottom:1%;
    transform: translate(-50%);
    img{
        width: 420px;
    }
    img:hover{
        filter: blur(1px);
    }
}


@media screen and (max-width:767px){
    .row{
        padding-top: 2rem;
    }
}


.ollie{
    width: 100%;
    margin-bottom: 30px;
}









// ========================================PORTFOLIO========================================


